Source: efl-theme-tizen
Section: misc
Priority: extra
Maintainer: Seokjae Jeong <seok.j.jeong@samsung.com>, Jaehwan Kim <jae.hwan.kim@samsung.com>, Chuneon Park <chuneon.park@samsung.com>, Juyung Seo <juyung.seo@samsung.com>, Myungjae Lee <mjae.lee@samsung.com>, Woohyun Jung <wh0705.jung@samsung.com>, Jeonghyun Yun <jh0506.yun@samsung.com>
Uploaders: Hyoyoung Chang <hyoyoung.chang@samsung.com>, Tae-Hwan Kim <the81.kim@samsung.com>
Build-Depends: debhelper (>= 5), libedje-dev
Standards-Version: 0.1.0

Package: efl-theme-tizen
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: tizen theme

Package: efl-theme-tizen-black
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: tizen black theme

Package: efl-theme-tizen-hd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: tizen HD theme

Package: efl-theme-tizen-black-hd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: tizen black HD theme

Package: efl-theme-tizen-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: tizen theme dev
