Source: nbeat-theme
Section: misc
Priority: extra
Maintainer: Seokjae Jeong <seok.j.jeong@samsung.com>, Jaehwan Kim <jae.hwan.kim@samsung.com>, Chuneon Park <chuneon.park@samsung.com>, Juyung Seo <juyung.seo@samsung.com>, Myungjae Lee <mjae.lee@samsung.com>, Woohyun Jung <wh0705.jung@samsung.com>, Jeonghyun Yun <jh0506.yun@samsung.com>
Uploaders: Hyoyoung Chang <hyoyoung.chang@samsung.com>
Build-Depends: debhelper (>= 5), libedje-dev
Standards-Version: 0.1.0

Package: nbeat-theme
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: nbeat theme

Package: nbeat-black-theme
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: nbeat black theme

Package: nbeat-hd-theme
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: nbeat HD theme
